body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #999;
  border-radius: 0;
  border: 2px solid #000;
}

.navbar-default .navbar-collapse {
  border-radius: 0;
  border: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000;
  background-color: #999;
}

.navbar-header button.navbar-toggle:hover,
.navbar-header button.navbar-toggle:focus,
.navbar-header button.navbar-toggle:hover .icon-bar,
.navbar-header button.navbar-toggle:focus .icon-bar {
  border: 2px solid #fff;
  background-color: #999;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Food, LLC */
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: -5px;
}

#nav-list a {
  border-top: 2px solid #000;
  color: #000;
  background: #fff;
  text-align: center;
}

#nav-list a:hover {
  border-top: 2px solid #000;
  background: #999;
}

.panel, .panel-default .panel-title{
  padding-top: 5px;
  background-color: #999;
  border-radius: 0;
  border: 2px;
}

.panel-title{
  text-align: center;
  font-weight: bold;
}
