
/********** Base styles **********/
* {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto;
}

.header {
  text-align: center;
  margin: 30px;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.sectionContent {
  border: 1px solid black;
  padding: 35px 15px 15px 15px;
  background-color: #D0D0D0;
  text-align: justify;
}

.title {
  border: 1px solid black;
  text-align: center;
  margin-left: 5px;
  padding: 5px;
  float: right;
}

div.chicken {
  background-color: #FFD0D0;
}

div.beef {
  background-color: #C00A0A;
  color: white;
}

div.sushi {
  background-color: #D0C00A;
}

/********** Desktop version **********/
@media (min-width: 992px) {
  .section {
    width: 33.3%;
    float: left;
  }

  .title {
    width: 120px;
  }
}


/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .section {
    width: 50%;
    float: left;
  }

  .bottom {
    width: 100%;
    clear: both;
  }

  .title {
    width: 100px;
  }
}

/********** Mobile version **********/
@media (max-width: 767px) {
  .title {
    width: 80px;
  }
}
