<div class="list-group">
  <a ui-sref="categories.items(item.short_name)" class="list-group-item list-group-item-action" ng-repeat="item in $ctrl.items">
    <span class="label label-warning">{{ item.short_name }}</span>
	<strong class="list-group-item-heading">{{ item.name }}</strong>
    <div ng-if="item.description">{{ item.description }}</div>
	<span class="label label-success" ng-if="item.price_small">small: ${{ item.price_small }}</span>
	<span class="label label-success" ng-if="item.price_large">large: ${{ item.price_large }}</span>
	</a>
</div>
