<div class="list-group">
  <a class="list-group-item list-group-item-action" ng-repeat="item in $ctrl.items">
    <h5 class="list-group-item-heading"><span class="label label-warning">{{ item.short_name }}</span> {{ item.name }}</h5>
    <span ng-if="item.description">{{ item.description }}</span>
	<span class="label label-success" ng-if="item.price_small">small: ${{ item.price_small }}</span>
	<span class="label label-success" ng-if="item.price_large">large: ${{ item.price_large }}</span>
	</a>
</div>
